<%- include('../0_Home_page_frame/top_title.ejs') %>
<link rel='stylesheet' href='/stylesheets/8_bullet_cartridge.css' />
<div class="to-center">
  <div class="pattern">
    <div class="flex">
      <div class="my-buttons pop">Pop</div>
      <div class="my-buttons peek">peek</div>
      <div class="my-buttons count">count</div>
      <div class="my-buttons push">push</div>
    </div>
    <div class="flex">
      <input type="text" class="myInput" placeholder="Name of the ballet...">
    </div>
    <div class="flex">
      <div class="flex-down stack-bullets">


      </div>
    </div>
  </div>
</div>



<%- include('../0_Home_page_frame/footer.ejs') %>


<script src="/javascripts/8_bullet_cartridge/8_bullet_cartridge.js"></script>