<%- include('0_Home_page_frame/top_title.ejs') %>
<link rel='stylesheet' href='/stylesheets/0_home_page.css' />
<div class="internal-title">
    <h1>Welcome to all my projects</h1>
    <img src="/images/code-js.jpg">
</div>
<div class="projects-buttons">
    <a href="/fs">
        <div class="projects-buttons-img">
            <img src="/images/1_Browse-files.jpg">
        </div>
        <div class="text-button-project">Browse files</div>
    </a>
    <a href="/timer">
        <div class="projects-buttons-img">
            <img src="/images/2_timer.jpg">
        </div>
        <div class="text-button-project">timer</div>
    </a>
    <a href="/food-menu">
        <div class="projects-buttons-img">
            <img src="/images/3_Food menu.jpg">
        </div>
        <div class="text-button-project">Food menu</div>
    </a>
    <a href="/tasks">
        <div class="projects-buttons-img">
            <img src="/images/4_tasks/4_tasks.jpg">
        </div>
        <div class="text-button-project">Tasks</div>
    </a>
    <a href="/trivia-questions">
        <div class="projects-buttons-img">
            <img src="/images/5_trivia_questions/5_trivia_questions.jpg">
        </div>
        <div class="text-button-project">Trivia questions</div>
    </a>
    <a href="/calculator">
        <div class="projects-buttons-img">
            <img src="/images/6_calculator/6_calculator.jpg">
        </div>
        <div class="text-button-project">Calculator</div>
    </a>
    <a href="/memory-Game">
        <div class="projects-buttons-img">
            <img src="/images/7_memory_Game/7_memory_Game.jpg">
        </div>
        <div class="text-button-project">Memory Game</div>
    </a>
    <a href="/bullet-cartridge">
        <div class="projects-buttons-img">
            <img src="/images/8_bullet_cartridge/8_bullet_cartridge.jpg">
        </div>
        <div class="text-button-project">Bullet cartridge</div>
    </a>
    <a href="/keyboard-drums">
        <div class="projects-buttons-img">
            <img src="/images/9_keyboard_drums/9_keyboard_drums.jpg">
        </div>
        <div class="text-button-project">Keyboard drums</div>
    </a>
</div>


<%- include('0_Home_page_frame/footer.ejs') %>