<%- include('../0_Home_page_frame/top_title.ejs') %>
  <link rel='stylesheet' href='/stylesheets/9_keyboard_drums.css' />


  <div class="drum-9-keyboard-drums">
    <div id="div-of-buttons-9-keyboard-drums">

      <div class="clicking-9-keyboard-drums" id="A">A</div>
      <div class="clicking-9-keyboard-drums" id="S">S</div>
      <div class="clicking-9-keyboard-drums" id="D">D</div>
      <div class="clicking-9-keyboard-drums" id="F">F</div>
      <div class="clicking-9-keyboard-drums" id="G">G</div>
      <div class="clicking-9-keyboard-drums" id="H">H</div>
      <div class="clicking-9-keyboard-drums" id="J">J</div>
      <div class="clicking-9-keyboard-drums" id="K">K</div>
      <div class="clicking-9-keyboard-drums" id="L">L</div>

    </div>
  </div>

  <audio id="a" src="sounds/boom.wav">A</audio>
  <audio id="s" src="sounds/clap.wav">S</audio>
  <audio id="d" src="sounds/hihat.wav">D</audio>
  <audio id="f" src="sounds/kick.wav">F</audio>
  <audio id="g" src="sounds/openhat.wav">G</audio>
  <audio id="h" src="sounds/ride.wav">H</audio>
  <audio id="j" src="sounds/snare.wav">J</audio>
  <audio id="k" src="sounds/tink.wav">K</audio>
  <audio id="l" src="sounds/tom.wav">L</audio>
 



  <%- include('../0_Home_page_frame/footer.ejs') %>


    <script src="/javascripts/9_keyboard_drums/9_keyboard_drums.js"></script>