<%- include('../0_Home_page_frame/top_title.ejs') %>
<link rel='stylesheet' href='/stylesheets/7_memory_Game.css' />

<h3 class="h3-g">Memory Game</h3>
<div class="to-center">
    <div class="wrapper">
        <!-- <div class="flp-card">
      <div class="front"></div>
      <div class="back">
        <i class="fas fa-dog"></i>
      </div> -->
    </div>
</div>



<%- include('../0_Home_page_frame/footer.ejs') %>


<script type="module" src="/javascripts/7_memory_Game/App.js"></script>
<script src="https://kit.fontawesome.com/118668509c.js"></script>