<%- include('../0_Home_page_frame/top_title.ejs') %>
<link rel='stylesheet' href='/stylesheets/2_timer.css' />

<div class="center-element">
    <div class="my-timer">
        <h3>Timer</h3>
        <div class="parentDisplay">
            <div class="display-Time">00:00:00</div>
        </div>
        <div class="result start">Start</div>
        <div class="result stop">Stop</div>
        <div class="result reset">Reset</div>
    </div>
</div>


<%- include('../0_Home_page_frame/footer.ejs') %>

<script src="/javascripts/2_Timer/2_Timer.js"></script>
