<%- include('../0_Home_page_frame/top_title.ejs') %>
<link rel='stylesheet' href='/stylesheets/5_trivia_questions.css' />



<div class="trivia_start_page">
    <br>
    <br>
    <div class="center1"><h2>?האם אתה מוכן להתחיל את החידון</h2></div>
    <div class="center2" ><a class="button-to-begen" href="/trivia-questions/trivia-questions-page">התחל משימה</a></button></div>

</div>








<%- include('../0_Home_page_frame/footer.ejs') %>
